.characterInformationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

@media (min-width: 768px) {
  .characterInformationContainer {
    padding: 0;
    background: none;
    background: #1C1C1C;
    width: 400px;
    border-radius: 20px 0 0 20px;
  }
}